* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0f0f1a;
  color: white;
}

/*  NAVBAR  */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background: #141428;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

nav a:hover {
  color: #a855f7;
}


/*  HERO  */

#typing {
  color: #a855f7;
  font-weight: 700;
  border-right: 3px solid #a855f7;
  padding-right: 5px;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}


.hero {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(135deg, #141428, #1f1f3d);
  padding: 80px 0;
}


.hero-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 0 10%;
    width: 100%;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
}


.hero-image img {
  width: 350px;   /* change this value */
  height: auto;
  border-radius: 52%;
  margin-top: 30px;
  border: 4px solid #a855f7;
}


.hero h1 {
  font-size: 40px;
}

.hero p {
  margin: 15px 0;
  font-size: 18px;
  color: #ccc;
}

.btn {
  display: inline-block;
  padding: 10px 25px;
  background: #a855f7;
  color: white;
  border-radius: 25px;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: #9333ea;
  transform: scale(1.05);
}

/*  ABOUT  */
.about {
  padding: 80px 10%;
}

.about-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.about-text {
  flex: 1;
}

.about-text h2 {
  margin-bottom: 20px;
}

.about-text p {
  margin-bottom: 15px;
  line-height: 1.7;
  color: #ccc;
}

.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.about-image img {
  width: 380px;
  border-radius: 20px;  
}

/*  SKILLS  */
.skills {
  padding: 80px 10%;
  text-align: center;
}

.skill-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.skill-box {
  padding: 20px;
  background: #1f1f3d;
  border-radius: 12px;
  transition: 0.3s;
}

.skill-box:hover {
  background: #a855f7;
  transform: translateY(-5px);
}

/*  PROJECTS  */
.projects {
  padding: 80px 10%;
  text-align: center;
}

.project-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.project-card {
  background: #1f1f3d;
  padding: 25px;
  border-radius: 15px;
  width: 300px;
  transition: 0.3s;
}

.project-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 15px;
  transition: 0.3s ease;
}


.project-card:hover {
  transform: translateY(-8px);
}

.btn-small {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 15px;
  background: #a855f7;
  border-radius: 20px;
  text-decoration: none;
  color: white;
}

/*  CONTACT  */
.contact {
  padding: 80px 10%;
  text-align: center;
}

.social-icons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 40px;   
}

.social-icons a {
  font-size: 36px;   
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: transform 0.3s ease , boxshadow 0.3 ease;
  text-decoration: none;
}



.social-icons a:hover {
  animation: bounce 0.4s ease;
}

@keyframes bounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(-10px); }
}


.social-icons a:nth-child(1):hover {
  background: #25D366;
  transform: translateY(-10px);
}


.social-icons a:nth-child(2):hover {
  background: #333;
  transform: translateY(-10px);
}


.social-icons a:nth-child(3):hover {
  background: #E1306C;
  transform: translateY(-10px);
}


.social-icons a:nth-child(4):hover {
  background: #0077B5;
  transform: translateY(-10px);
}



footer {
  text-align: center;
  padding: 20px;
  background: #141428;
  color: #aaa;
}
